<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<!-- el modulo tiene todo el código del componente -->
<dom-module id="visor-cuentas">
  <template>
    <!-- primera parte estilo solo del componente polymer -->
    <!-- Stilos locales del componente -->
    <style>
      :host {
        display: block;
      }
    </style>
    <!--all:inital;-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Componente html5 a visualizar -->
    <h2>Las cuentas del usuario con ID-{{userid}} son :</h2>
    <template is="dom-repeat" items="{{accounts}}">
      <h3>IBAN: {{item.IBAN}}</h3>
      <h3>BALANCE:{{item.BALANCE}} </h3>
      </br>
    </template>

    <iron-ajax auto
      id="getAccounts"
      url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     * Clase que extiende de  Polymer.Element
     * Funciones estáticas que pueden ser accedidas sin que las clases estén instanciadas, es para saber que componentes hay que instanciar
     * return 'frontproyecto-app'; -> Etiqueta para el componete htmlst
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number
          }, iban: {
            type: String
          }, accounts: {
            type: Array
          }, balance: {
            type: Number
          }
        };
      }

      showData(data) {
        console.log("Accounts showData");
        console.log(data.detail.response[0]);
        this.accounts = data.detail.response;
        //this.userid = data.detail.response[0].USERID;
        //this.iban = data.detail.response[0].IBAN;
        //this.balance = data.detail.response[0].BALANCE;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
